:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", Arial !important ;
  /* background-color: #d5d4d4; */
  background: rgb(208, 0, 203);
  background: linear-gradient(
    90deg,
    rgba(208, 0, 203, 1) 0%,
    rgba(254, 4, 253, 1) 43%,
    rgba(0, 83, 208, 1) 99%
  );
}
